.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.icon-small {
    height: 24px;
}

.icon-regular {
    height: 36px;
}

.icon-big {
    height: 48px;
}

:root {
    --card-max-width: 724px;
}